<?xml version="1.0"?>
<model>
  <name>tt02</name>
  <version>1.0</version>
  <sdf version="1.9">model.sdf</sdf>
  <description>
    Tamiya TT-02 相当の 1/10 ミニカー(Ackermann 4輪 + gpu_lidar + imu)。
    ホイールベース257mm/トレッド166mm/タイヤ径63mm。140cm レーンを走れる小型車。
    vehicle_blue のトポロジ(chassis + 前ステアリングリンク + AckermannSteering)を実寸化。
  </description>
</model>
